<div class="main-content container-fluid">
  <div class="feature-content">
    <div class="row">
      <div class="offset-md-4 col-md-5">
        <form autocomplete="off">
          <div class="form-group form-inline">
            <div class="input-group">
              <input type="text" class="form-control" name="searchTerm" [(ngModel)]="searchTerm"
                placeholder="mobile / username">
              <div class="input-group-append">
                <button class="btn btn-dark" (click)="searchUser()" data-balloon="Search" data-balloon-pos="right"><i
                    class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
    <hr>
    <div class="grid-container">
      <div *ngFor="let user of users" class="card fixed-width">
        <div class="card-header text-center">
          <span data-balloon-pos="right" data-balloon="UserName">
            <i class="fas fa-user p-1"></i>
            <span>{{user.userName}}</span>
          </span>
        </div>
        <div class="card-body text-white font-weight-lighter font-italic">
          <p class="card-text"><span data-balloon-pos="right" data-balloon="Full Name"><i
                class="fas fa-user-graduate"></i>{{user.name}}</span></p>
          <p class="card-text"><span data-balloon-pos="right" data-balloon="Mobile"><i
                class="fas fa-phone"></i>{{user.mobile}}</span></p>
          <p class="card-text">
            <span data-balloon-pos="right" data-balloon="Bio"><i class="fas fa-venus"></i>
              <span *ngIf="user.gender!==''">{{user.gender}}</span>
              <span *ngIf="calculateAge(user.dob)">
                <span *ngIf="user.gender!==''">,</span>
                {{calculateAge(user.dob)}} years</span>
            </span>
          </p>
        </div>
        <div class="card-footer">
          <span *ngFor="let role of user.roles">
            <span *ngIf="role.roleType>2" data-balloon-pos="right" data-balloon="Roles" class="badge bg-success mr-1">
              {{utilityService.getRoleDescriptionForDisplay(role.roleType)}}
            </span>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
