<div style="margin-top:20px;">

  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 inline">
      <h4>Role:</h4>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="selectedRole" name="roleFilter" (ngModelChange)="selectedUser=null;">
          <option value="-1" selected>All</option>
          <!-- <option value="1">Group Admin</option> -->
          <option value="2">School Admin</option>
          <option value="3">Reviewer</option>
          <option value="4">Teacher</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    
    <div class="col-xs-6 pull-left">
      <div *ngIf="users">
        <h4>Users:</h4>
        <div class="list-group list-of-users">
          <a (click)="selectedUser=user;" *ngFor="let user of users | userType:selectedRole"
            class="list-group-item">{{user.name}}
            - {{user.mobile}}</a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 pull-right" *ngIf="selectedUser">
        <h4>Selected User:</h4>
      <div class="panel panel-primary">
        <div class="panel-heading">{{selectedUser.name | uppercase}} <span class="close"
            (click)="removeUser(selectedUser)">x</span></div>
        <div class="panel-body">

          <label class="col-xs-4">Name</label>
          <div class="well well-sm col-xs-8">{{selectedUser.name?selectedUser.name:"?"}}</div>

          <label class="col-xs-4">UserName</label>
          <div class="well well-sm col-xs-8">{{selectedUser.userName?selectedUser.userName:"?"}}</div>

          <label class="col-xs-4">Gender</label>
          <div class="well well-sm col-xs-8">{{selectedUser.gender?selectedUser.gender:"?"}}</div>

          <label class="col-xs-4">Mobile</label>
          <div class="well well-sm col-xs-8">{{selectedUser.mobile}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>