.table {
  font-size: 100%;
}

.table-input {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  padding: 0px;
  text-align: center;
  width: 100px;

}

.col-day {
  color: #007BFF;
  font-size: 110%;
}

.fa-save {
  color: #f19066;
  font-size: 110%;
}
