<div class="row" class="questionsList">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div *ngIf="pendingRequests$ | async as pendingRequests">
        <div [id]="question.quesId" (click)="onQuestionChanged(question)" *ngFor="let question of pendingRequests"
          [ngClass]="getClassForStatus(question.status)" class="clickable">
          <div class="panel-heading">
            <span class="pull-left">Std:{{question.std}}</span>
            <span class="">{{question.subject}}</span>
            <span class="pull-right">{{question.lastModifiedDate | date: dateFormat}}</span>
          </div>
          <div class="panel-body">{{question.title | trim:40}}</div>
        </div>
      </div>
    </div>

    <div class="col-xs-7" *ngIf="selectedQuestion">

      <div [ngClass]="getClassForStatus(selectedQuestion.status)">

        <div class="panel-heading">{{selectedQuestion.status | enum:"status"}} Request</div>
        <div class="panel-body">


          <label class="col-xs-4">Description</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.title}}</div>

          <label class="col-xs-4">Standard</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.std}}</div>

          <label class="col-xs-4">Subject</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.subject}}
          </div>

          <label class="col-xs-4">Topic</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.topic}}
          </div>

          <label class="col-xs-4">Difficulty</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.difficulty | enum:'difficulty'}}</div>

          <label class="col-xs-4">Type</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.length | enum:'length'}}</div>

          <label class="col-xs-4">Tags</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.tags | csv:'':'?'}}</div>

          <label class="col-xs-4">Teacher</label>
          <div class="well well-sm col-xs-8">
            {{selectedQuestion.owner?selectedQuestion.owner.userName:"Not Assigned"}}</div>

          <label class="col-xs-4">Created On</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.createDate | date: dateFormat}}</div>

          <div class="row">
            <div *ngIf="selectedQuestion.imageUrl" class="col-xs-offset-4 col-xs-4"><img
                [src]="selectedQuestion.imageUrl" class="img-rounded img-thumbnail" alt="">
            </div>
          </div>
          <button class="btn btn-success col-xs-offset-1 col-xs-3" (click)="approveRequest()">Approve</button>
          <button *ngIf="selectedQuestion.status===1" class="btn btn-primary col-xs-offset-1 col-xs-3"
            (click)="compareMode=true;">Compare</button>
          <button class="btn btn-danger col-xs-offset-1 col-xs-3" (click)="rejectRequest()">Reject</button>


        </div>
      </div>
    </div>
    <!-- Modal Rejection -->
    <div [ngClass]="{'fade':!showRejectReason,'show':showRejectReason}" class="modal" id="rejectModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              (click)="rejectReason='';showRejectReason=false;">&times;</button>
            <h4 class="modal-title">Rejection Reason</h4>
          </div>
          <div class="modal-body">
            <input type="text" [(ngModel)]="rejectReason" class="form-control">
          </div>
          <div class="modal-footer">
            <button [disabled]="!rejectReason" class="btn btn-danger" data-dismiss="modal"
              (click)="rejectRequest()">Reject
              Question</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Compare -->
    <div [ngClass]="{'fade':!compareMode,'show':compareMode}" class="modal" id="compareModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="compareMode=false;">&times;</button>
            <h4 class="modal-title">View Differences</h4>
          </div>
          <div class="modal-body" *ngIf="compareMode">
            <div class="row">
              <div class="col-xs-6">
                <app-question-display [selectedQues]="selectedQuestion" header="Original" ></app-question-display>
              </div>
              <div class="col-xs-6">
                <app-question-display [selectedQues]="selectedQuestion" header="Modified"></app-question-display>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>