<!-- CONTENT -->
<div class="main-content container-fluid">

  <div class="feature-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card feature-card">

          <div class="feature-tab">
            <div class="tab-pane active">
              <div class="row">
                <div class="col-md-12 pt-2 pl-4 pr-4">
                  <div class="offset-md-5">
                    <ngb-pagination [collectionSize]="reqLen" [(page)]="pageIndex" [pageSize]="pageSize"
                      aria-label="Default pagination" (pageChange)="getReviewerRequests()"></ngb-pagination>
                  </div>
                  <div id="accordion">
                    <!-- LIST ITEM 1 -->
                    <div class="card mb-4 question-list-item"
                      *ngFor="let question of pendingRequests | slice: 0 : pageSize">
                      <div class="card-header">
                        <div class="row text-white">

                          <span class="col-md-1">
                            <a (click)="onQuestionChanged(question)" data-toggle="collapse"
                              href="#box_{{question.quesId}}" data-balloon="Expand" data-balloon-pos="right">
                              <i class="fas fa-chevron-down text-white"></i>
                            </a>
                          </span>
                          <div class="offset-md-1 col-md-8">
                            <span class="col-md-3 bg-sucess">
                              <span class="badge item-badge" data-balloon="Standard" data-balloon-pos="left">
                                <i class="fas fa-graduation-cap text-white mr-2"></i>{{question.std}}</span>
                            </span>
                            <span class="col-md-3">
                              <span class="badge item-badge" data-balloon="Subject" data-balloon-pos="left">
                                <i class="fas fa-book text-white mr-2"></i>{{question.subject}}</span>
                            </span>
                            <span class="col-md-3">
                              <span class="badge item-badge" data-balloon="Owner" data-balloon-pos="left">
                                <i class="far fa-bookmark text-white mr-2"></i>{{question.owner.userName}}</span>
                            </span>
                            <span class="col-md-3">
                              <span *ngIf="question.imageUrl" (click)="imageUrl=question.imageUrl"
                                class="badge item-img-badge" data-toggle="modal" data-target="#imageModal"
                                data-balloon="Click to view image" data-balloon-pos="left">
                                <i class="fas fa-image text-white"></i></span>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span class="mr-5">
                              <span class="badge item-badge"
                                [ngClass]="utilityService.getClassForStatus(question.status)" data-balloon="Status"
                                data-balloon-pos="left">
                                <i class="fas fa-info-circle text-white
                                  mr-2"></i>{{utilityService.getDescriptionForQuestionStatus(question.status)}}</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- LIST CONTENT -->
                      <div id="box_{{question.quesId}}" class="collapse" data-parent="#accordion">
                        <div class="card-body question-list-content">
                          <form autocomplete="off">
                            <fieldset [disabled]="true">
                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Standard" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.std" class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Subject" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.subject" class="form-control" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Chapter" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.topic" class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Topics" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.tags" class="form-control" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Difficulty" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="utilityService.getDifficultyDesc(question.difficulty)"
                                      class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Section" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control"
                                      [value]="utilityService.getSectionDesc(question.length)" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Owner" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" [value]="question.owner.userName"
                                      placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Created Date"
                                        data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.createDate | date: dateFormat"
                                      class="form-control" placeholder="Created Date">
                                  </div>
                                </div>

                              </div>

                              <div class="row">

                                <div class="offset-md-1 col-md-9 mb-3">
                                  <p class="text-dark question-description-area"
                                    [innerHTML]="question.titleHtml | safe:'html'" placeholder="">
                                  </p>
                                </div>

                              </div>
                            </fieldset>

                            <hr>
                            <div class="row">
                              <div class="offset-md-1 col-md-3">
                                <button class="btn bg-new text-white" (click)="approveRequest()">
                                  <i class="fas fa-pencil-alt text-white pr-2"></i>Approve</button>
                              </div>

                              <div class="offset-md-1 col-md-3">
                                <button class="btn bg-modify text-white" *ngIf="question?.status===1"
                                  (click)="compareRequest()" data-toggle="modal" data-target="#compareModal">
                                  <i class="fas fa-trash-alt text-white pr-2"></i>Compare</button>
                              </div>

                              <div class="offset-md-1 col-md-3">
                                <button class="btn bg-remove text-white" (click)="rejectRequest()" data-toggle="modal"
                                  data-target="#rejectModal">
                                  <i class="fas fa-trash-alt text-white pr-2"></i>Reject</button>
                              </div>


                            </div>
                          </form>

                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- COMPARE MODAL -->
  <div class="modal fade" id="compareModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content compareModalBox">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">

            <!-- Original Question -->
            <div class="col-md-6">
              <div class="card question-card">
                <div class="card-header bg-blue text-white text-center">Original</div>
                <div class="card-body">
                  <div class="table-responsive" *ngIf="originalQuestion">
                    <table class="table table-dark table-hover rounded-lg">
                      <tbody>
                        <tr [ngClass]="getDifference('std')">
                          <td class="table-field">Standard</td>
                          <td>{{originalQuestion.std}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('subject')">
                          <td class="table-field">Subject</td>
                          <td>{{originalQuestion.subject}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('topic')">
                          <td class="table-field">Chapter</td>
                          <td>{{originalQuestion.topic}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('tags')">
                          <td class="table-field">Topics</td>
                          <td>{{originalQuestion.tags}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('difficulty')">
                          <td class="table-field">Difficulty</td>
                          <td>{{utilityService.getDifficultyDesc(originalQuestion.difficulty)}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('length')">
                          <td class="table-field">Section</td>
                          <td>{{utilityService.getSectionDesc(originalQuestion.length)}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('imageUrl')">
                          <td class="table-field">Image</td>
                          <td><span *ngIf="originalQuestion.imageUrl" (click)="imageUrl=originalQuestion.imageUrl"
                              class="badge item-img-badge" data-toggle="modal" data-target="#imageModal"
                              data-balloon="Click to view image" data-balloon-pos="left">
                              <i class="fas fa-image text-white"></i></span></td>
                        </tr>
                        <tr>
                          <td class="table-field text-center" colspan="2">Description</td>
                        </tr>
                        <tr [ngClass]="getDifference('titleHtml')">
                          <td colspan="2">
                            <div class="question-description-area"
                              [innerHTML]="originalQuestion.titleHtml | safe:'html'">
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="!originalQuestion" class="text-remove">
                    <h5> Original Question has been removed.</h5>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modified Question -->
            <div class="col-md-6">
              <div class="card question-card">
                <div class="card-header bg-new text-white text-center">Modified</div>
                <div class="card-body">
                  <div class="table-responsive" *ngIf="selectedQuestion">
                    <table class="table table-dark table-hover rounded-lg">
                      <tbody>
                        <tr [ngClass]="getDifference('std')">
                          <td class="table-field">Standard</td>
                          <td>{{selectedQuestion.std}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('subject')">
                          <td class="table-field">Subject</td>
                          <td>{{selectedQuestion.subject}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('topic')">
                          <td class="table-field">Chapter</td>
                          <td>{{selectedQuestion.topic}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('tags')">
                          <td class="table-field">Topics</td>
                          <td>{{selectedQuestion.tags}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('difficulty')">
                          <td class="table-field">Difficulty</td>
                          <td>{{utilityService.getDifficultyDesc(selectedQuestion.difficulty)}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('length')">
                          <td class="table-field">Section</td>
                          <td>{{utilityService.getSectionDesc(selectedQuestion.length)}}</td>
                        </tr>
                        <tr [ngClass]="getDifference('imageUrl')">
                          <td class="table-field">Image</td>
                          <td><span *ngIf="selectedQuestion.imageUrl" (click)="imageUrl=selectedQuestion.imageUrl"
                              class="badge item-img-badge" data-toggle="modal" data-target="#imageModal"
                              data-balloon="Click to view image" data-balloon-pos="left">
                              <i class="fas fa-image text-white"></i></span></td>
                        </tr>
                        <tr>
                          <td class="table-field text-center" colspan="2">Description</td>
                        </tr>
                        <tr [ngClass]="getDifference('titleHtml')">
                          <td colspan="2">
                            <div class="question-description-area"
                              [innerHTML]="selectedQuestion.titleHtml | safe:'html'">
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- REJECT MODEL -->
  <div class="modal fade" id="rejectModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content compareModalBox">
        <div class="modal-header text-white text-center">
          <h4 class="modal-title">Rejection Reason</h4>
          <button type="button" class="close pull-right" data-dismiss="modal" (click)="rejectReason=''">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="card question-card text-center">
            <div class="card-body">
              <input type="text" [(ngModel)]="rejectReason" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!rejectReason" class="btn bg-remove text-white" data-dismiss="modal"
            (click)="rejectRequest()">Reject Question</button>
        </div>
      </div>
    </div>
  </div>

  <!-- IMAGE MODAL -->
  <div class="modal fade" id="imageModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content compareModalBox">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="card question-card text-center">
            <div class="card-body" *ngIf="imageUrl">
              <img [src]="imageUrl" class="img-rounded img-thumbnail" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
