<!--The content below is only a placeholder and can be replaced.-->

<ngx-spinner></ngx-spinner>
<div style="text-align:center" class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/dashboard']">Welcome to {{ title }}!</a>
      </div>
      <ul class="nav navbar-nav">
        <li *ngIf="loggedIn" routerLinkActive="active"><a [routerLink]="['/roles']">
            <span class="glyphicon glyphicon-transfer"></span>Switch Role</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       
        <li *ngIf="loggedIn"><a [routerLink]="['/profile']">
          <span class="glyphicon glyphicon-user"></span>
          Hi,{{currentUser?.name | titlecase}} </a>
          </li>

        <li *ngIf="loggedIn" class="clickable"><a (click)="logout()">
          <span class="glyphicon glyphicon-log-out"></span>Logout </a>
        </li>    
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>