<div class="row" style="margin-top:30px;">

  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{active:activeTab==='criteria',clickable:true}"><a
          (click)="activeTab='criteria';setTemplateForm()">Criteria</a>
      </li>
      <li role="presentation" [ngClass]="{active:activeTab==='showPaper',clickable:true}"><a
          (click)="activeTab='showPaper'">Question
          Paper</a></li>
      <li role="presentation" [ngClass]="{active:activeTab==='printPaper',clickable:true}"><a
          (click)="activeTab='printPaper'">Print
          Paper</a></li>
    </ul>
  </div>

  <!--Criteria Tab-->
  <div class="col-xs-12" style="margin-top:20px;">
    <div *ngIf="templatesArray && activeTab=='criteria'">
      <div class="form-group form-inline">
        <label>Saved Templates:</label>
        <select [disabled]="!templatesArray" class="form-control templatesArray" name="templates" 
         [(ngModel)]="selectedTemplateId"  (ngModelChange)="fetchTemplate()" >
          <option value="" disabled selected>Select Template</option>
          <option *ngFor="let template of templatesArray" [value]="template.templateId">{{template.tag}}</option>
        </select>
      </div>
    </div>
    <div class="panel panel-primary" *ngIf="activeTab=='criteria'">
      <div class="panel-heading">
        <i (click)="resetTemplateForm()" class="fa fa-undo pull-left clickable" aria-hidden="true"></i>
        <i (click)="showModalForm('template')" class="fa fa-floppy-o pull-right clickable" aria-hidden="true"></i>
        <h4 class="panel-title">Question Criteria</h4>
      </div>
      <div class="panel-body col-xs-offset-4">
        <form>
          <div class="form-group form-inline row">
            <label class="col-xs-3">Standard</label>
            <select (change)="selectedSubject=null" class="form-control col-xs-3" [(ngModel)]="selectedStd"
              name="selectedStd">
              <option [ngValue]="-1" disabled selected>Select Standard</option>
              <option *ngFor="let standard of standards" [ngValue]="standard.std">{{standard.std}}</option>
            </select>
          </div>

          <div class="form-group form-inline row">
            <label class="col-xs-3">Subject</label>
            <select [disabled]="selectedStd===-1" class="form-control col-xs-3" [(ngModel)]="selectedSubject"
              name="selectedSubject">
              <option [ngValue]="null" disabled selected>Select Subject</option>
              <option *ngFor="let subject of stdSubjectMap.get(selectedStd)" [ngValue]="subject">{{subject.title}}
              </option>
            </select>
          </div>
          <div *ngIf="selectedSubject">
            <div class="form-group form-inline row">
              <label class="col-xs-3">Sets</label>
              <select class="form-control col-xs-3" [(ngModel)]="sets" name="sets">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>

            <div class="form-group form-inline row">
              <label class="col-xs-3">Total Marks</label>
              <input type="number" name="totalMarks" [(ngModel)]="totalMarks" class="form-control col-xs-3">
            </div>

            <div class="form-group form-inline row">
              <label class="col-xs-3">Topics</label>
              <select multiple class="form-control col-xs-3" [(ngModel)]="topics" name="topics">
                <option *ngFor="let topic of subjectMap.get(selectedSubject.title).topics" [ngValue]="topic">
                  {{topic}}
                </option>
              </select>
            </div>

            <div class="row">
              <label class="col-xs-3">Difficulty %</label>
              <div class="col-xs-3">
                <div class="form-group form-inline row" *ngFor="let level of difficultyLevels">
                  <div class="col-xs-2">
                    <label>{{level.type}}</label>
                    <input type="checkbox"  [(ngModel)]="level.checked"  name="{{'diffCb_'+level.type}}">
                  </div>
                  <div class="col-xs-10">
                    <input type="number" min="0" max="100" placeholder="0 - 100%"  [disabled]="!level.checked" 
                    [(ngModel)]="level.diffPercent" name="{{'diffPercent_'+level.type}}" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group form-inline row">
              <label class="col-xs-3">Sections</label>
              <select multiple class="form-control col-xs-3" [(ngModel)]="selectedSections" name="sections">
                <option *ngFor="let section of allSections" [value]="section">{{section.type}}</option>
              </select>
            </div>

            <div class="row">
              <div class="col-xs-2" *ngFor="let section of selectedSections">
                <div [ngClass]="utilityService.getClassForSection(section.type)">
                  <div class="panel-heading">{{section.type}}</div>
                  <div class="panel-body">
                    <input placeholder="Total Questions"  type="number"
                      name="{{'count_' + section.type}}" class="form-control" [(ngModel)]="section.totalQues">
                    <input placeholder="Marks" type="number"
                      name="{{'marks_' + section.type}}" class="form-control" [(ngModel)]="section.marks">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <button (click)="generatePaper()" class="btn btn-primary">Generate Paper</button>
      </div>
    </div>
  </div>

  <!--Show Paper Tab-->
  <div class="col-xs-12">
    <div *ngIf="draftsArray && activeTab=='showPaper'">
      <div class="form-group form-inline">
        <label>Saved Drafts:</label>
        <select [disabled]="!draftsArray" class="form-control templatesArray" name="drafts"
         [(ngModel)]="selectedDraft"  (ngModelChange)="fetchDraft()">
          <option value="" disabled selected>Select Draft</option>
          <option *ngFor="let draft of draftsArray" [value]="draft.testId">{{draft.tag}}</option>
        </select>
      </div>
    </div>
    <div class="panel panel-primary" *ngIf="activeTab=='showPaper'">
      <div class="panel-heading">
        <h4 class="panel-title">
          Question Paper
        </h4>
      </div>
      <div class="panel-body" *ngIf="questionPapers">
        <div class="row">
          <ul class="nav nav-tabs">
            <li role="presentation" *ngFor="let queSet of questionPapers"
              [ngClass]="{active:getActiveTabClass(queSet.set)}">
              <a (click)="onSetSelected(queSet.set)">Set {{queSet.set}}</a>
            </li>
          </ul>

          <div [ngClass]="utilityService.getClassForSection(utilityService.getSectionDesc(section.type))"
            class="col-xs-10 col-xs-offset-1" *ngFor="let section of currSet.sections;let pIndex = index">
            <div class="panel-heading">
              <h3 class="panel-title">{{utilityService.getSectionDesc(section.type)}}</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li *ngFor="let question of section.questions; let cIndex = index" class="list-group-item">{{question.title}}
                  <i class="fa fa-exchange pull-left clickable" (click)="replaceClicked(pIndex,cIndex,question)" aria-hidden="true"></i>
                  <span class="badge">{{utilityService.getDifficultyDesc(question.difficulty)}}</span></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="panel-footer" *ngIf="questionPapers">
        <button (click)="showModalForm('draft');testPaperStatus='draft'" class="btn btn-warning">Save as Draft</button>
        <button (click)="showModalForm('draft');testPaperStatus='save'" class="btn btn-success col-xs-offset-1">Finalize
          Paper</button>
      </div>
    </div>
  </div>

  <!-- Modal Tag Description -->
  <div [ngClass]="{'fade':!showModal,'show':showModal}" class="modal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            (click)="modalTag='';showModal=false;">&times;</button>
          <h4 class="modal-title">Info</h4>
        </div>
        <div class="modal-body">
          <input type="text" [(ngModel)]="modalTag" class="form-control" placeholder="Enter Name">
        </div>
        <div class="modal-footer">
          <button [disabled]="!modalTag" class="btn btn-success" data-dismiss="modal" (click)="saveData()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Replace Question -->
  <div [ngClass]="{'fade':!showReplaceModal,'show':showReplaceModal}" class="modal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="showReplaceModal=false;">&times;</button>
          <h4 class="modal-title">Replace Question Criteria</h4>
        </div>
        <div class="modal-body" *ngIf="showReplaceModal">
          <div class="form-group form-inline row">
            <label class="col-xs-6">Topic</label>
          <select class="form-control col-xs-6" [(ngModel)]="questionToReplace.topic">
            <option disabled value="">Select Topic</option>
            <option *ngFor="let topic of subjectMap.get(questionToReplace.subject).topics" [ngValue]="topic">
              {{topic}}
            </option>
          </select>
          </div>
          <div class="form-group form-inline row">
            <label class="col-xs-6">Tags</label>
          <select multiple class="form-control col-xs-6" [(ngModel)]="questionToReplace.tags" >
            <option *ngFor="let tag of subjectMap.get(questionToReplace.subject).tags" [ngValue]="tag">
              {{tag}}
            </option>
          </select>
          </div>
          <div class="form-group form-inline row">
            <label class="col-xs-6">Difficulty</label>
          <select class="form-control col-xs-6" [(ngModel)]="questionToReplace.difficulty.level">
            <option *ngFor="let level of difficultyLevels" [ngValue]="utilityService.getDifficultyEnum(level.type)">
              {{level.type}}
            </option>
          </select>  
          </div>   
          <div class="form-group form-inline row" *ngIf="questions.length>0">
            <label class="col-xs-6">Questions</label>
            <select class="form-control col-xs-6" [(ngModel)]="selectedReplacement">
              <option disabled value="null">Select Question</option>
              <option *ngFor="let question of questions" [ngValue]="question">
                {{question.title}}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal" (click)="replaceQuestion()">
            {{selectedReplacement?'Replace Question':'Find Questions'}}</button>
        </div>
      </div>
    </div>
  </div>

</div>