<div hidden class="row" class="feature-content main-content">


  <!--Show Paper Tab-->
  <div class="col-xs-12">
    <div *ngIf="draftsArray && activeTab=='showPaper'">
      <div class="form-group form-inline">
        <label>Saved Drafts:</label>
        <select [disabled]="!draftsArray" class="form-control templatesArray" name="drafts" [(ngModel)]="selectedDraft"
          (ngModelChange)="fetchDraft()">
          <option value="" disabled selected>Select Draft</option>
          <option *ngFor="let draft of draftsArray" [value]="draft.testId">{{draft.tag}}</option>
        </select>
      </div>
    </div>
    <div class="panel panel-primary" *ngIf="activeTab=='showPaper'">
      <div class="panel-heading">
        <h4 class="panel-title">
          Question Paper
        </h4>
      </div>
      <div class="panel-body" *ngIf="questionPapers">
        <div class="row">
          <ul class="nav nav-tabs">
            <li role="presentation" *ngFor="let queSet of questionPapers"
              [ngClass]="{active:getActiveTabClass(queSet.set)}">
              <a (click)="onSetSelected(queSet.set)">Set {{queSet.set}}</a>
            </li>
          </ul>

          <div [ngClass]="utilityService.getClassForSection(utilityService.getSectionDesc(section.type))"
            class="col-xs-10 col-xs-offset-1" *ngFor="let section of currSet.sections;let pIndex = index">
            <div class="panel-heading">
              <h3 class="panel-title">{{utilityService.getSectionDesc(section.type)}}</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li *ngFor="let question of section.questions; let cIndex = index" class="list-group-item">
                  {{question.title}}
                  <i class="fa fa-exchange pull-left clickable" (click)="replaceClicked(pIndex,cIndex,question)"
                    aria-hidden="true"></i>
                  <span class="badge">{{utilityService.getDifficultyDesc(question.difficulty)}}</span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="panel-footer" *ngIf="questionPapers">
        <button (click)="showModalForm('draft');testPaperStatus='draft'" class="btn btn-warning">Save as
          Draft</button>
        <button (click)="showModalForm('draft');testPaperStatus='save'" class="btn btn-success col-xs-offset-1">Finalize
          Paper</button>
      </div>
    </div>
  </div>



</div>

<div class="main-content container-fluid">
  <div class="feature-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card feature-card">

          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active text-white" data-toggle="tab" href="#criteria"
                (click)="activeTab='criteria';setTemplateForm()">Criteria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" data-toggle="tab" href="#edit" (click)="activeTab='showPaper'">Question
                Paper</a>
            </li>

          </ul>

          <div class="tab-content feature-tab">

            <!--Criteria Tab-->
            <div id="criteria" class="tab-pane active">
              <div class="row mt-3">
                <div class="offset-md-1 col-md-2">
                  <a class="badge badge-pill btn-warning p-2" data-balloon="Reset Form" data-balloon-pos="left">
                    <i class="fas fa-redo-alt text-white" (click)="resetTemplateForm()"></i>
                  </a>
                </div>
                <div class="offset-md-1 col-md-6" *ngIf="templatesArray && activeTab=='criteria'">
                  <div class="form-group form-inline">
                    <label for="templates">Saved Templates:</label>
                    <div class="input-group ml-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-graduation-cap"></i>
                        </span>
                      </div>
                      <select [disabled]="!templatesArray" class="form-control custom-select" name="templates"
                        [(ngModel)]="selectedTemplateId" (ngModelChange)="fetchTemplate()" id="templates">
                        <option value="" disabled selected>Select Template</option>
                        <option *ngFor="let template of templatesArray" [value]="template.templateId">{{template.tag}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <a class="badge badge-pill btn-danger p-2" data-balloon="Remove Template" data-balloon-pos="left">
                    <i class="fas fa-trash-alt text-white"></i>
                  </a>
                </div>
              </div>
              <hr>
              <form *ngIf="activeTab=='criteria'" #criteriaForm="ngForm" autocomplete="off">

                <!-- Std-Subjects -->
                <div class="row">

                  <div class="offset-md-1 col-md-4">
                    <div class="form-group">
                      <label for="std">Standard:</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-graduation-cap"></i>
                          </span>
                        </div>
                        <select (change)="selectedSubject=null;chapters=[];" class="form-control custom-select"
                          [(ngModel)]="selectedStd" name="std" id="std">
                          <option [ngValue]="-1" disabled selected>Select Standard</option>
                          <option *ngFor="let standard of standards" [ngValue]="standard.std">{{standard.std}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="offset-md-1 col-md-4">
                    <div class="form-group">
                      <label for="subject">Subject:</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-book"></i>
                          </span>
                        </div>
                        <select [disabled]="selectedStd===-1" class="form-control custom-select" id="subject"
                          [(ngModel)]="selectedSubject" name="selectedSubject" (change)="onSubjectChanged()">
                          <option [ngValue]="null" disabled selected>Select Subject</option>
                          <option *ngFor="let subject of stdSubjectMap.get(selectedStd)" [ngValue]="subject">
                            {{subject.title}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <fieldset [disabled]="!selectedSubject">

                  <div class="row">
                    <div class="offset-md-1 col-md-4">
                      <div class="form-group">
                        <label for="sets">Sets:</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-box"></i>
                            </span>
                          </div>
                          <select class="form-control custom-select" id="sets" [(ngModel)]="sets" name="sets">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                        </div>
                      </div>

                    </div>

                    <div class="offset-md-1 col-md-4">
                      <div class="form-group">
                        <label for="total">Total marks:</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-box"></i>
                            </span>
                          </div>
                          <input type="number" name="marks" [(ngModel)]="totalMarks" class="form-control"
                            #marks="ngModel" required min="0" max="1000" id="total" placeholder="Marks">
                          <div *ngIf="marks.invalid && (marks.dirty || marks.touched)" class="invalid-feedback">
                            <div *ngIf="marks.errors.required">
                              Total Marks are required.
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-md-1 col-md-4">
                      <div class="form-group">
                        <label for="chapters">Chapters:</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-bookmark"></i>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Chapters" id="chapters" name="chapters"
                            [typeahead]="chapterSuggestions" [typeaheadOptionsLimit]="7"
                            (typeaheadOnSelect)="addChapter($event)" [(ngModel)]="chapterTxt" (blur)="chapterTxt=''">

                        </div>
                      </div>

                    </div>

                    <div class="offset-md-1 col-md-5 mt-3 text-white scroll-control">

                      <span class="badge bg-dark text-white mr-1 mb-1 badge-size-big"
                        *ngFor="let chapter of chapters">{{chapter}}<i (click)="removeChapter(chapter)"
                          class="fas fa-times clickable ml-1"></i></span>

                    </div>


                  </div>

                  <div class="row">

                    <div class="offset-md-1 col-md-4">
                      <div class="form-group">
                        <label for="section">Sections:</label>
                        <div>

                          <div class="custom-control custom-checkbox custom-control-inline"
                            *ngFor="let section of allSections">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="section.checked"
                              name="{{'sec_'+section.type}}" id="{{'secId_'+section.type}}">
                            <label class="custom-control-label" for="{{'secId_'+section.type}}">{{section.type}}</label>
                          </div>



                        </div>
                      </div>
                    </div>

                    <div class="offset-md-1 col-md-4">
                      <div class="form-group">
                        <label for="difficulty">Difficulty:</label>
                        <div>

                          <div class="custom-control custom-checkbox  custom-control-inline"
                            *ngFor="let level of difficultyLevels">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="level.checked"
                              name="{{'diffCb_'+level.type}}" id="{{'diffId_'+level.type}}">
                            <label class="custom-control-label" for="{{'diffId_'+level.type}}">{{level.type}}</label>
                          </div>



                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <!-- SECTION INPUT -->
                    <div class="offset-md-1 col-md-4">
                      <div class="table-responsive">
                        <table class="table table-dark table-hover rounded-lg">
                          <thead style="color: #ffc107;font-style: italic;" class="text-center">
                            <tr>
                              <th>Section</th>
                              <th>Questions</th>
                              <th>Marks</th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let section of allSections">
                              <td *ngIf="section.checked" class="text-center text-blue font-weight-bold">
                                {{section.type}}</td>

                              <td *ngIf="section.checked"><input placeholder="Total Questions" type="number"
                                  name="{{'count_' + section.type}}" class="table-input" [(ngModel)]="section.totalQues"
                                  min="0" max="100"></td>

                              <td *ngIf="section.checked"> <input placeholder="Marks" type="number"
                                  name="{{'marks_' + section.type}}" class="table-input" [(ngModel)]="section.marks"
                                  min="0" max="100"></td>

                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>

                    <!-- DIFFICULTY INPUT -->
                    <div class="offset-md-1 col-md-4">
                      <div class="table-responsive">
                        <table class="table table-dark table-hover rounded-lg">
                          <thead style="color: #ffc107;font-style: italic;" class="text-center">
                            <tr>
                              <th>Difficulty</th>
                              <th>Percent %</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let level of difficultyLevels">
                              <td *ngIf="level.checked" class="text-center text-blue font-weight-bold">{{level.type}}
                              </td>
                              <td *ngIf="level.checked">
                                <input type="number" placeholder="10 - 100%" [disabled]="!level.checked"
                                  class="table-input" [(ngModel)]="level.diffPercent"
                                  name="{{'diffPercent_'+level.type}}" min="0" max="100">

                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                  <hr>
                  <div class="row mb-3">
                    <div class="offset-md-3 col-md-3">
                      <button class="btn bg-blue text-white" (click)="showModalForm('template')" data-toggle="modal"
                        data-target="#titleModal"> <i class="fas fa-save pr-2"></i>Save Template</button>
                    </div>
                    <div class="offset-md-1 col-md-3">
                      <button class="btn bg-new text-white"
                        [disabled]="!criteriaForm.form.valid || selectedSubject === null || chapters.length === 0"
                        (click)="generatePaper()"> <i class="fas fa-cogs pr-2"></i>Generate Paper</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>

            <div id="edit" class="tab-pane ml-3 mt-3">
              <div class="row mt-3">
                <div class="offset-md-4 col-md-6">
                  <div class="form-group form-inline">
                    <label for="drafts">Saved Drafts:</label>
                    <div class="input-group ml-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-graduation-cap"></i>
                        </span>
                      </div>
                      <select class="form-control custom-select" id="drafts">
                        <option disabled>Select Drafts</option>
                        <option>Draft 1</option>
                        <option>Draft 2</option>
                        <option>Draft 3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-1">
                  <a class="badge badge-pill btn-danger p-2" data-balloon="Remove Draft" data-balloon-pos="left">
                    <i class="fas fa-trash-alt text-white"></i>
                  </a>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <h4><span>Objective</span></h4>
                </div>
              </div>
              <hr>
              <div class="row mb-3 question-item">
                <div class="col-md-1">
                  <span class="badge badge-pill btn-warning hidden-control" data-balloon="Choose another question"
                    data-balloon-pos="right">
                    <i class="fas fa-exchange-alt text-white"></i>
                  </span>
                  <span class="badge badge-pill btn-secondary hidden-control" data-balloon="Edit question"
                    data-balloon-pos="right">
                    <i class="fas fa-pencil-alt text-white"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <span>Identify the parts of brain in below image :</span>
                  <div class="text-center"><img src="images/brain.png" class="rounded-lg" width="300" height="200">
                  </div>
                </div>
                <div class="col-md-1">
                  <span class="badge bg-dark text-white p-1">1</span>
                </div>
              </div>

              <div class="row mb-3 question-item">
                <div class="col-md-1">
                  <span class="badge badge-pill btn-warning hidden-control" data-balloon="Choose another question"
                    data-balloon-pos="right">
                    <i class="fas fa-exchange-alt text-white"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <span>What is known as "Power house of cell" ?</span>
                </div>
                <div class="col-md-1">
                  <span class="badge bg-dark text-white p-1">1</span>
                </div>
              </div>

              <div class="row mb-3 question-item">
                <div class="col-md-1">
                  <span class="badge badge-pill btn-warning hidden-control" data-balloon="Choose another question"
                    data-balloon-pos="right">
                    <i class="fas fa-exchange-alt text-white"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <span>Which organ has double-layered membrane ?</span>
                </div>
                <div class="col-md-1">
                  <span class="badge bg-dark text-white p-1">1</span>
                </div>
              </div>

              <div class="row mt-3 ">
                <div class="col-md-12">
                  <h4><span>Short</span></h4>
                </div>
              </div>
              <hr>
              <div class="row mb-3 question-item">
                <div class="col-md-1">
                  <span class="badge badge-pill btn-warning hidden-control" data-balloon="Choose another question"
                    data-balloon-pos="right">
                    <i class="fas fa-exchange-alt text-white"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <span>Explain about kidney ?</span>
                </div>
                <div class="col-md-1">
                  <span class="badge bg-dark text-white p-1">2</span>
                </div>
              </div>

              <div class="row mb-3 question-item">
                <div class="col-md-1">
                  <span class="badge badge-pill btn-warning hidden-control" data-balloon="Choose another question"
                    data-balloon-pos="right">
                    <i class="fas fa-exchange-alt text-white"></i>
                  </span>
                </div>
                <div class="col-md-10">
                  <span>Give details of nephron in short using below diagram.</span>
                  <div class="text-center"><img src="images/nephron.jpg" class="rounded-lg" width="300" height="200">
                  </div>
                </div>
                <div class="col-md-1">
                  <span class="badge bg-dark text-white p-1">2</span>
                </div>
              </div>

              <div class="row mb-3 question-item">
                <div class="col-md-1">
                  <span class="badge badge-pill btn-warning hidden-control" data-balloon="Choose another question"
                    data-balloon-pos="right">
                    <i class="fas fa-exchange-alt text-white"></i>
                  </span>
                  <span class="badge badge-pill btn-secondary hidden-control" data-balloon="Edit question"
                    data-balloon-pos="right">
                    <i class="fas fa-pencil-alt text-white"></i>
                  </span>

                </div>
                <div class="col-md-10">
                  <span>Where is medula oblongata situated ?</span>
                </div>
                <div class="col-md-1">
                  <span class="badge bg-dark text-white p-1">2</span>
                </div>
              </div>

              <hr>
              <div class="row mb-3 mt-3">
                <div class="offset-md-3 col-md-3">
                  <button class="btn bg-blue text-white"> <i class="fas fa-save pr-2"></i>Save As Draft</button>
                </div>
                <div class="offset-md-1 col-md-3">
                  <button class="btn bg-new text-white"> <i class="fas fa-cogs pr-2"></i>Finalize Paper</button>
                </div>
              </div>


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Tag Save Description -->
<div class="modal fade" id="titleModal">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content compareModalBox">
      <div class="modal-header text-white">
        <h4 class="modal-title" style="margin-left:45%">Title</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="card question-card text-center">
          <div class="card-body">
            <input type="text" [(ngModel)]="modalTag" class="form-control modal-input" placeholder="Title">
          </div>
        </div>
        <button [disabled]="!modalTag" class="btn btn-block bg-new text-white" data-dismiss="modal"
          (click)="saveData()">Save</button>
      </div>

    </div>
  </div>
</div>



<!-- Modal Replace Question -->
<div [ngClass]="{'fade':!showReplaceModal,'show':showReplaceModal}" class="modal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="showReplaceModal=false;">&times;</button>
        <h4 class="modal-title">Replace Question Criteria</h4>
      </div>
      <div class="modal-body" *ngIf="showReplaceModal">

        <div class="form-group form-inline row">
          <label class="col-xs-6">Topic</label>
          <select class="form-control col-xs-6" [(ngModel)]="questionToReplace.topic">
            <option disabled value="">Select Topic</option>
            <option *ngFor="let topic of subjectMap.get(questionToReplace.subject).topics" [ngValue]="topic">
              {{topic}}
            </option>
          </select>
        </div>
        <div class="form-group form-inline row">
          <label class="col-xs-6">Tags</label>
          <select multiple class="form-control col-xs-6" [(ngModel)]="questionToReplace.tags">
            <option *ngFor="let tag of subjectMap.get(questionToReplace.subject).tags" [ngValue]="tag">
              {{tag}}
            </option>
          </select>
        </div>
        <div class="form-group form-inline row">
          <label class="col-xs-6">Difficulty</label>
          <select class="form-control col-xs-6" [(ngModel)]="questionToReplace.difficulty.level">
            <option *ngFor="let level of difficultyLevels" [ngValue]="utilityService.getDifficultyEnum(level.type)">
              {{level.type}}
            </option>
          </select>
        </div>
        <div class="form-group form-inline row" *ngIf="questions.length>0">
          <label class="col-xs-6">Questions</label>
          <select class="form-control col-xs-6" [(ngModel)]="selectedReplacement">
            <option disabled value="null">Select Question</option>
            <option *ngFor="let question of questions" [ngValue]="question">
              {{question.title}}
            </option>
          </select>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" (click)="replaceQuestion()">
          {{selectedReplacement?'Replace Question':'Find Questions'}}</button>
      </div>
    </div>
  </div>
</div>
