<div [ngClass]="getClassForStatus(selectedQuestion.status)">

  <div class="panel-heading">{{header}}</div>
  <div class="panel-body">


    <label class="col-xs-4">Description</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.title}}</div>

    <label class="col-xs-4">Standard</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.std}}</div>

    <label class="col-xs-4">Subject</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.subject}}
    </div>

    <label class="col-xs-4">Topic</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.topic}}
    </div>

    <label class="col-xs-4">Difficulty</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.difficulty | enum:'difficulty'}}</div>

    <label class="col-xs-4">Type</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.length | enum:'length'}}</div>

    <label class="col-xs-4">Tags</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.tags | csv:'':'?'}}</div>

    <label class="col-xs-4">Teacher</label>
    <div class="well well-sm col-xs-8">
      {{selectedQuestion.owner?selectedQuestion.owner.userName:"Not Assigned"}}</div>

    <label class="col-xs-4">Created On</label>
    <div class="well well-sm col-xs-8">{{selectedQuestion.createDate | date: dateFormat}}</div>

    <div class="row">
      <div *ngIf="selectedQuestion.imageUrl" class="col-xs-offset-4 col-xs-4"><img [src]="selectedQuestion.imageUrl"
          class="img-rounded img-thumbnail" alt="">
      </div>
    </div>

  </div>
</div>