/* LOGIN HTML */
.login-card {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.border-otp {
  width: 100px;
  height: 100px;
  margin: 10px;
  color: #343a40;
  background: transparent;
  border: 1px solid #ffffff80;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.2s all;
  outline: none;

}

.border-otp:hover {
  border: 2px solid #343a40;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.otp-box {
  background-color: #ffffff90;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
