<div class="main-content container">
  <!-- LOGIN CARD -->
  <div class="card login-card mb-1" *ngIf="!forgotPassword">

    <div class="card-header bg-dark text-white text-center">
      <h3>Login to IntelliQ</h3>
    </div>

    <div class="card-body">
      <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="mobile">Mobile:</label>
          <input type="text" [(ngModel)]="mobile" name="mobile" id="mobile" maxlength="10" class="form-control" />
          <!-- <div class="text-danger">Please fill out this field.</div> -->
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" [(ngModel)]="password" name="pwd" id="pwd" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>

    <div class="card-footer text-dark font-weight-lighter font-italic">
      <a style="border: 2px;color: blue" class="nav-link clickable" (click)="forgotPassword=true">Forgot
        Password ?</a>
    </div>

  </div>

  <!-- FORGOT PWD CARD -->
  <div class="card login-card mb-1" *ngIf="forgotPassword">

    <div class="card-header bg-dark text-white text-center">
      <h3>Forgot Password ?</h3>
    </div>

    <div class="card-body">
      <form autocomplete="off">
        <div class="form-group">
          <label for="fmobile">Mobile:</label>
          <input type="text" class="form-control" name="fmobile" id="fmobile">
        </div>
        <div class="form-group" hidden>
          <label for="otp">OTP:</label>
          <input type="text" class="form-control" name="otp" id="otp" maxlength="6">
        </div>
        <button type="button" class="btn bg-remove text-white" (click)="forgotPassword=false">
          Cancel</button>
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Get
          OTP</button>
      </form>

    </div>

    <div class="card-footer text-dark font-weight-lighter
 	font-italic" style="border: 2px;"> OTP will be sent to your registered mobile number
    </div>

  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-centered rounded-lg">
      <div class="modal-content otp-box">
        <!-- Modal body -->
        <div class="modal-body mx-auto">
          <span class="text-center text-white font-weight-lighter font-italic">
            <h3>OTP</h3>
          </span>
          <form autocomplete="off" class="form-inline ">

            <div class="form-group font-weight-bold">
              <input type="text" maxlength="1" class="border-otp  font-weight-bold  text-center" />
              <input type="text" maxlength="1" class="border-otp  font-weight-bold  text-center" />
              <input type="text" maxlength="1" class="border-otp  font-weight-bold  text-center" />
              <input type="text" maxlength="1" class="border-otp  font-weight-bold  text-center" />
              <input type="text" maxlength="1" class="border-otp  font-weight-bold  text-center" />
              <input type="text" maxlength="1" class="border-otp  font-weight-bold  text-center" />


            </div>

          </form>
          <span class="text-center text-danger">
            <h6>*All fields are required</h6>
          </span>

        </div>


      </div>
    </div>
  </div>


</div>


<!-- FOOTER -->
<nav class="footer-bg navbar navbar-expand-sm  navbar-dark fixed-bottom justify-content-center">
  <a class="navbar-brand" href="#">
    <h5 class="font-weight-lighter font-italic text-dark">Handcrafted By Moltres</h5>
  </a>
</nav>
