<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{active:!isRejected}"><a
          (click)="isRejected=false;selectedQuestion=null;">Pending Requests</a></li>
      <li role="presentation" [ngClass]="{active:isRejected}"><a (click)="onRejectedTabClick()">Rejected
          Requests</a></li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="!isRejected" class="questionsList">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div *ngIf="pendingQuestions$ | async as pendingQuestions">
        <div (click)="selectedQuestion=question;" *ngFor="let question of pendingQuestions"
          [ngClass]="getClassForStatus(question.status)" class="clickable">
          <div class="panel-heading">
            <span class="pull-left">Std:{{question.std}}</span>
            <span class="">{{question.subject}}</span>
            <span class="pull-right">{{question.lastModifiedDate | date: dateFormat}}</span>
          </div>
          <div class="panel-body">{{question.title | trim:40}}</div>
        </div>
      </div>
    </div>

    <div class="col-xs-7" *ngIf="selectedQuestion">

      <div [ngClass]="getClassForStatus(selectedQuestion.status)">
        <div class="panel-heading">{{selectedQuestion.status | enum:"status"}} Request</div>
        <div class="panel-body">

          <label class="col-xs-4">Description</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.title}}</div>

          <label class="col-xs-4">Standard</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.std}}</div>

          <label class="col-xs-4">Subject</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.subject}}
          </div>

          <label class="col-xs-4">Topic</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.topic}}
          </div>

          <label class="col-xs-4">Difficulty</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.difficulty | enum:'difficulty'}}</div>

          <label class="col-xs-4">Type</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.length | enum:'length'}}</div>

          <label class="col-xs-4">Tags</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.tags | csv:'':'?'}}</div>

          <label class="col-xs-4">Reviewer</label>
          <div class="well well-sm col-xs-8">
            {{selectedQuestion.reviewer?selectedQuestion.reviewer.userName:"Not Assigned"}}</div>

          <label class="col-xs-4">Created On</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.createDate | date: dateFormat}}</div>

          <label class="col-xs-4">Last Modified On</label>
          <div class="well well-sm col-xs-8">{{selectedQuestion.lastModifiedDate | date: dateFormat}}</div>

          <div *ngIf="selectedQuestion.imageUrl" class="col-xs-offset-4 col-xs-4"><img [src]="selectedQuestion.imageUrl"
              class="img-rounded img-thumbnail" alt=""></div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isRejected" class="questionsList">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div *ngIf="rejectedQuestions$ | async as rejectedQuestions">
        <div [id]="question.quesId" (click)="selectedQuestion=question;editMode=false;"
          *ngFor="let question of rejectedQuestions" [ngClass]="getClassForStatus(question.status)" class="clickable">
          <div class="panel-heading">
            <span class="pull-left">Std:{{question.std}}</span>
            <span class="">{{question.subject}}</span>
            <span class="pull-right">{{question.lastModifiedDate | date: dateFormat}}</span>
          </div>
          <div class="panel-body">{{question.title | trim:40}}</div>
        </div>
      </div>
    </div>

    <div class="col-xs-7" *ngIf="selectedQuestion">

      <div [ngClass]="getClassForStatus(selectedQuestion.status)">
        <div class="panel-heading">{{selectedQuestion.status | enum:"status"}} Request</div>

        <div class="panel-body">

          <div *ngIf="!editMode">

            <label class="col-xs-4">Reject Reason</label>
            <div class="well well-sm col-xs-8 reject-reason">{{selectedQuestion.rejectDesc}}</div>

            <label class="col-xs-4">Description</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.title}}</div>

            <label class="col-xs-4">Standard</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.std}}</div>

            <label class="col-xs-4">Subject</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.subject}}
            </div>

            <label class="col-xs-4">Topic</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.topic}}
            </div>

            <label class="col-xs-4">Difficulty</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.difficulty | enum:'difficulty'}}</div>

            <label class="col-xs-4">Type</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.length | enum:'length'}}</div>

            <label class="col-xs-4">Tags</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.tags | csv:'':'?'}}</div>

            <label class="col-xs-4">Reviewer</label>
            <div class="well well-sm col-xs-8">
              {{selectedQuestion.reviewer?selectedQuestion.reviewer.userName:"Not Assigned"}}</div>

            <label class="col-xs-4">Created On</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.createDate | date: dateFormat}}</div>

            <label class="col-xs-4">Last Modified On</label>
            <div class="well well-sm col-xs-8">{{selectedQuestion.lastModifiedDate | date: dateFormat}}</div>

            <div *ngIf="selectedQuestion.imageUrl" class="col-xs-offset-4 col-xs-4"><img
                [src]="selectedQuestion.imageUrl" class="img-rounded img-thumbnail" alt=""></div>
            <button class="btn btn-default" (click)="onEditClicked()">Edit</button>
            <button class="btn btn-default" (click)="deleteQuestion()">Delete</button>
          </div>

          <div *ngIf="editMode">
            <form>
              <label class="col-xs-3">Standard</label>
              <div class="well well-sm col-xs-8">{{tempSelectedQuestion.std}}</div>

              <label class="col-xs-3">Subject</label>
              <div class="well well-sm col-xs-8">{{tempSelectedQuestion.subject}}
              </div>

              <label class="col-xs-3">Reviewer</label>
              <div class="well well-sm col-xs-8">
                {{tempSelectedQuestion.reviewer?tempSelectedQuestion.reviewer.userName:"Not Assigned"}}</div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Type</label>
                <select class="form-control col-xs-3" [(ngModel)]="tempSelectedQuestion.length" name="questionLength">
                  <option [ngValue]="undefined" disabled selected>Select Type</option>
                  <option [ngValue]="0" selected>OBJECTIVE</option>
                  <option [ngValue]="1" selected>SHORT</option>
                  <option [ngValue]="2" selected>BRIEF</option>
                  <option [ngValue]="3" selected>LONG</option>
                </select>
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Difficulty</label>
                <select class="form-control col-xs-8" [(ngModel)]="tempSelectedQuestion.difficulty"
                  name="questionDifficulty">
                  <option [ngValue]="undefined" disabled selected>Select Difficulty</option>
                  <option [ngValue]="0" selected>EASY</option>
                  <option [ngValue]="1" selected>MEDIUM</option>
                  <option [ngValue]="2" selected>HARD</option>
                </select>
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Topic</label>
                <input type="text" name="topic" [(ngModel)]="tempSelectedQuestion.topic" class="form-control col-xs-8">
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Description</label>
                <input type="text" name="title" [(ngModel)]="tempSelectedQuestion.title" class="form-control col-xs-8">
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Tags</label>
                <input type="text" name="tags" [(ngModel)]="tags" class="form-control col-xs-8">
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Image</label>
                <input type="text" name="image" [(ngModel)]="tempSelectedQuestion.imageUrl" class="form-control col-xs-8">
              </div>
              <button class="btn btn-default" (click)="editMode=false;tempSelectedQuestion=null">Cancel</button>
              <button class="btn btn-default" (click)='updateQuestion()'>Save</button>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>