<!-- CONTENT -->
<div class="main-content container-fluid">

  <div class="feature-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card feature-card">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active text-white" data-toggle="tab" href="#pending">Pending Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" data-toggle="tab" href="#rejected" (click)="editMode = false">Rejected
                Requests</a>
            </li>
          </ul>

          <div class="tab-content feature-tab">
            <div id="pending" class="tab-pane active">
              <div class="row">
                <div class="col-md-12 pt-2 pl-4 pr-4">
                  <div class="offset-md-5">
                    <ngb-pagination [collectionSize]="pendingPageLen" [(page)]="pendingPageIndex" [pageSize]="pageSize"
                      aria-label="Default pagination" (pageChange)="getPendingRequests()"></ngb-pagination>
                  </div>
                  <div id="accordion">
                    <!-- LIST ITEM 1 -->
                    <div class="card mb-4 question-list-item"
                      *ngFor="let question of pendingQuestions | slice: 0 : pageSize;">
                      <div class="card-header">
                        <div class="row text-white">

                          <span class="col-md-1">
                            <a data-toggle="collapse" href="#box_{{question.quesId}}" data-balloon="Expand"
                              data-balloon-pos="right">
                              <i class="fas fa-chevron-down text-white"></i>
                            </a>
                          </span>
                          <div class="offset-md-1 col-md-8">
                            <span class="col-md-3 bg-sucess">
                              <span class="badge item-badge" data-balloon="Standard" data-balloon-pos="left">
                                <i class="fas fa-graduation-cap text-white mr-2"></i>{{question.std}}</span>
                            </span>
                            <span class="col-md-3">
                              <span class="badge item-badge" data-balloon="Subject" data-balloon-pos="left">
                                <i class="fas fa-book text-white mr-2"></i>{{question.subject}}</span>
                            </span>
                            <span class="col-md-3">
                              <span class="badge item-badge" data-balloon="Chapter" data-balloon-pos="left">
                                <i class="far fa-bookmark text-white mr-2"></i>{{question.topic}}</span>
                            </span>
                            <span class="col-md-3">
                              <span *ngIf="question.imageUrl" (click)="imageUrl=question.imageUrl"
                                class="badge item-img-badge" data-toggle="modal" data-target="#imageModal"
                                data-balloon="Click to view image" data-balloon-pos="left">
                                <i class="fas fa-image text-white"></i></span>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span class="mr-5">
                              <span class="badge item-badge"
                                [ngClass]="utilityService.getClassForStatus(question.status)" data-balloon="Status"
                                data-balloon-pos="left">
                                <i class="fas fa-info-circle text-white
                                  mr-2"></i>{{utilityService.getDescriptionForQuestionStatus(question.status)}}</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- LIST CONTENT -->
                      <div id="box_{{question.quesId}}" class="collapse" data-parent="#accordion">
                        <div class="card-body question-list-content">
                          <form>
                            <fieldset [disabled]="true">
                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Standard" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.std" class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Subject" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.subject" class="form-control" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Chapter" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.topic" class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Topics" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.tags" class="form-control" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Difficulty" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="utilityService.getDifficultyDesc(question.difficulty)"
                                      class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Section" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control"
                                      [value]="utilityService.getSectionDesc(question.length)" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Reviewer" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" [value]="question.reviewer.userName"
                                      placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Created Date"
                                        data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.createDate | date: dateFormat"
                                      class="form-control" placeholder="Created Date">
                                  </div>
                                </div>

                              </div>

                              <div class="row">

                                <div class="offset-md-1 col-md-9 mb-3">
                                  <p class="text-dark question-description-area"
                                    [innerHTML]="question.titleHtml | safe:'html'" placeholder="">
                                  </p>
                                </div>

                              </div>
                            </fieldset>
                          </form>

                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div id="rejected" class="tab-pane fade">
              <div class="row">
                <div class="col-md-12 pt-2 pl-4 pr-4">
                  <div class="offset-md-5">
                    <ngb-pagination [collectionSize]="rejectedPageLen" [(page)]="rejectedPageIndex"
                      [pageSize]="pageSize" aria-label="Default pagination" (pageChange)="getRejectedRequests()">
                    </ngb-pagination>
                  </div>
                  <div id="accordion">
                    <!-- LIST ITEM 1 -->
                    <div class="card mb-4 question-list-item"
                      *ngFor="let question of rejectedQuestions | slice: 0 : pageSize;">
                      <div class="card-header">
                        <div class="row text-white">

                          <span class="col-md-1">
                            <a (click)="selectedQuestion=question;editMode=false" data-toggle="collapse"
                              href="#box_{{question.quesId}}" data-balloon="Expand" data-balloon-pos="right">
                              <i class="fas fa-chevron-down text-white"></i>
                            </a>
                          </span>
                          <div class="offset-md-1 col-md-8">
                            <span class="col-md-3 bg-sucess">
                              <span class="badge item-badge" data-balloon="Standard" data-balloon-pos="left">
                                <i class="fas fa-graduation-cap text-white mr-2"></i>{{question.std}}</span>
                            </span>
                            <span class="col-md-3">
                              <span class="badge item-badge" data-balloon="Subject" data-balloon-pos="left">
                                <i class="fas fa-book text-white mr-2"></i>{{question.subject}}</span>
                            </span>
                            <span class="col-md-3">
                              <span class="badge item-badge" data-balloon="Chapter" data-balloon-pos="left">
                                <i class="far fa-bookmark text-white mr-2"></i>{{question.topic}}</span>
                            </span>
                            <span class="col-md-3">
                              <span *ngIf="question.imageUrl" (click)="imageUrl=question.imageUrl"
                                class="badge item-img-badge" data-toggle="modal" data-target="#imageModal"
                                data-balloon="Click to view image" data-balloon-pos="left">
                                <i class="fas fa-image text-white"></i></span>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span class="mr-5">
                              <span class="badge item-badge"
                                [ngClass]="utilityService.getClassForStatus(question.status)" data-balloon="Rejected On"
                                data-balloon-pos="left">
                                <i class="fas fa-info-circle text-white
                                  mr-2"></i>{{question.lastModifiedDate |  date: dateFormat}}</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- LIST CONTENT -->
                      <div id="box_{{question.quesId}}" class="collapse" data-parent="#accordion">
                        <div class="card-body question-list-content">
                          <form *ngIf="!editMode">
                            <fieldset [disabled]="true">
                              <div class="row">
                                <div class="offset-md-1 col-md-9 mb-3  text-center">
                                  <h5 class="text-remove font-weight-bolder">
                                    {{question.rejectDesc}}
                                  </h5>
                                </div>
                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Standard" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.std" class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Subject" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.subject" class="form-control" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Chapter" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.topic" class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Topics" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.tags" class="form-control" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Difficulty" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="utilityService.getDifficultyDesc(question.difficulty)"
                                      class="form-control" placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Section" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control"
                                      [value]="utilityService.getSectionDesc(question.length)" placeholder="">
                                  </div>
                                </div>

                              </div>

                              <div class="row">
                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Reviewer" data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" [value]="question.reviewer.userName"
                                      placeholder="">
                                  </div>
                                </div>

                                <div class="offset-md-1 col-md-4">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" data-balloon="Created Date"
                                        data-balloon-pos="right">
                                        <i class="fas fa-graduation-cap text-white"></i>
                                      </span>
                                    </div>
                                    <input type="text" [value]="question.createDate | date: dateFormat"
                                      class="form-control" placeholder="Created Date">
                                  </div>
                                </div>

                              </div>

                              <div class="row">

                                <div class="offset-md-1 col-md-9 mb-3">
                                  <p class="text-dark question-description-area"
                                    [innerHTML]="question.titleHtml | safe:'html'" placeholder="">
                                  </p>
                                </div>

                              </div>
                            </fieldset>
                            <hr>
                            <div class="row">
                              <div class="offset-md-1 col-md-3">
                                <button class="btn bg-new text-white" (click)="onEditClicked()">
                                  <i class="fas fa-pencil-alt text-white pr-2"></i>Modify</button>
                              </div>

                              <div class="offset-md-3 col-md-3">
                                <button class="btn bg-remove text-white" (click)="deleteQuestion()">
                                  <i class="fas fa-trash-alt text-white pr-2"></i>Remove</button>
                              </div>
                            </div>
                          </form>

                          <form *ngIf="editMode" #editForm="ngForm">
                            <div class="row">

                              <div class="offset-md-1 col-md-4">
                                <div class="form-group">
                                  <label for="std">Standard:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-graduation-cap"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" name="std" readonly=""
                                      [value]="tempSelectedQuestion.std" id="std">
                                  </div>
                                </div>
                              </div>

                              <div class="offset-md-1 col-md-4">
                                <div class="form-group">
                                  <label for="subject">Subject:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-book"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" name="subject" readonly=""
                                      [value]="tempSelectedQuestion.subject" id="subject">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="offset-md-1 col-md-4">
                                <div class="form-group">
                                  <label for="section">Section:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-box"></i>
                                      </span>
                                    </div>
                                    <select class="form-control custom-select" id="section"
                                      [(ngModel)]="tempSelectedQuestion.length" name="questionLength"
                                      #questionLength="ngModel" required>
                                      <option [ngValue]="undefined" disabled selected>Select Section</option>
                                      <option [ngValue]="0">Objective</option>
                                      <option [ngValue]="1">Short</option>
                                      <option [ngValue]="2">Brief</option>
                                      <option [ngValue]="3">Long</option>
                                    </select>
                                    <div *ngIf="questionLength.touched && questionLength.pristine"
                                      class="invalid-feedback">
                                      Select Section
                                    </div>
                                  </div>
                                </div>

                              </div>

                              <div class="offset-md-1 col-md-4">

                                <div class="form-group">
                                  <label for="difficulty">Difficulty:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-book"></i>
                                      </span>
                                    </div>
                                    <select class="form-control custom-select" id="difficulty"
                                      [(ngModel)]="tempSelectedQuestion.difficulty" name="questionDifficulty"
                                      #questionDifficulty="ngModel" required>
                                      <option [ngValue]="undefined" disabled selected>Select Difficulty</option>
                                      <option [ngValue]="0">Easy</option>
                                      <option [ngValue]="1">Medium</option>
                                      <option [ngValue]="2">Hard</option>
                                    </select>
                                    <div *ngIf="questionDifficulty.touched && questionDifficulty.pristine"
                                      class="invalid-feedback">
                                      Select Difficulty
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="offset-md-1 col-md-4">
                                <div class="form-group">
                                  <label for="chapter">Chapter:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-bookmark"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control text-title" placeholder="Chapter"
                                      id="chapter" name="chapter" [typeahead]="chaptersSuggestions"
                                      [(ngModel)]="tempSelectedQuestion.topic" #chapter="ngModel" required
                                      minlength="3">
                                    <div *ngIf="chapter.invalid && (chapter.dirty || chapter.touched)"
                                      class="invalid-feedback">
                                      <div *ngIf="chapter.errors.required">
                                        Chapter is required.
                                      </div>
                                      <div *ngIf="chapter.errors.minlength">
                                        Chapter name must be atleast 3 characters .
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>

                              <div class="offset-md-1 col-md-4">
                                <div class="form-group">
                                  <label for="topics">Topics:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="far fa-bookmark"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control text-title" placeholder="Topics" id="topics"
                                      name="tags" [typeahead]="tagsSuggestions" (keyup)="addTag($event)"
                                      (blur)="addTag($event)" (typeaheadOnSelect)="addTag($event)" [(ngModel)]="tags">
                                  </div>
                                </div>

                                <span class="badge bg-dark text-white mr-1"
                                  *ngFor="let tag of tempSelectedQuestion.tags">{{tag}}<i (click)="removeTag(tag)"
                                    class="fas fa-times clickable ml-1"></i></span>
                              </div>
                            </div>

                            <div class="row">

                              <div class="offset-md-1 col-md-4">
                                <div class="form-group">
                                  <label for="reviewer">Reviewer:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-eye"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" name="reviewer" readonly=""
                                      [value]="tempSelectedQuestion.reviewer.userName" id="reviewer">
                                  </div>
                                </div>

                              </div>

                              <div class="offset-md-1 col-md-4">
                                <div class="form-group" *ngIf="!tempSelectedQuestion.imageUrl">
                                  <label for="myFile">Image:</label><br>
                                  <input type="file" accept="image/*" [(ngModel)]="tempImageUrl" id="myFile"
                                    name="myFile" class="img-upload-box">
                                </div>
                              </div>

                            </div>

                            <div class="row">

                              <div class="offset-md-1 col-md-5">
                                <div class="form-group">
                                  <label for="quillContainer">Description:</label>
                                  <a href="#editorModal" data-toggle="modal"> <span
                                      class="badge bg-modify text-white ml-2">Show Math
                                      Editor</span></a>
                                  <div class="input-group">
                                    <quill-editor class="quill-editor-add" id="quillContainer" [(ngModel)]="quillHtml"
                                      [modules]="quillModule" name="description" required #desc="ngModel">
                                    </quill-editor>

                                    <div *ngIf="desc.invalid && (desc.dirty || desc.touched)"
                                      class="invalid-feedback mt-3">
                                      <div *ngIf="desc.errors.required">
                                        Description is required.
                                      </div>
                                    </div>

                                  </div>
                                </div>

                              </div>

                              <div class="col-md-4">
                                <div class="card-body" *ngIf="tempSelectedQuestion.imageUrl">
                                  <span (click)="tempSelectedQuestion.imageUrl=''">
                                    <i class="fas fa-times pull-right clickable"></i> </span>
                                  <img [src]="tempSelectedQuestion.imageUrl" class="img-rounded img-thumbnail" alt="">
                                </div>
                              </div>
                            </div>
                            <br>
                            <hr>
                            <div class="row">
                              <div class="offset-md-1 col-md-3">
                                <button class="btn bg-new text-white" [disabled]="!editForm.form.valid"
                                  (click)='updateQuestion()'>
                                  <i class="fas fa-trash-alt text-white pr-2"></i>Save</button>
                              </div>
                              <div class="offset-md-3 col-md-3">
                                <button class="btn bg-remove text-white"
                                  (click)="editMode=false;tempSelectedQuestion=null">
                                  <i class="fas fa-pencil-alt text-white pr-2"></i>Cancel</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- IMAGE MODEL -->
  <div class="modal fade" id="imageModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content compareModalBox">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="card question-card text-center">
            <div class="card-body" *ngIf="imageUrl">
              <img [src]="imageUrl" class="img-rounded img-thumbnail" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
