<div class="main-content container-fluid">
  <div class="feature-content">
    <div class="row">
      <div class="offset-md-4 col-md-5">
        <form autocomplete="off">
          <div class="form-group form-inline">
            <div class="input-group">
              <input type="text" class="form-control" name="schoolCode" [(ngModel)]="schoolCode"
                placeholder="School Code">
              <div class="input-group-append">
                <button class="btn btn-dark" (click)="searchSchool()" data-balloon="Search" data-balloon-pos="right"><i
                    class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
    <hr>
    <div class="grid-container">
      <div *ngFor="let school of schools" class="card profile-card fixed-width">

        <div class="card-body text-white font-weight-lighter font-italic" *ngIf="school">
          <span><i class="fas fa-pencil-alt p-2 text-warning"></i>{{school.shortName}} </span><br />
          <span><i class="fas fa-users p-2 text-warning"></i>{{school.code}}</span><br />
          <span><i class="fas fa-school p-2 text-warning"></i>{{school.fullName | titlecase}}</span>
          <hr style="border: 1px solid #e9ecf3;">
          <span><i
              class="fas fa-phone p-2 text-warning"></i>{{school.contact.mobile.length>0?school.contact.mobile:'(Not Updated)'}}</span><br />
          <span><i
              class="fas fa-phone p-2 text-warning"></i>{{school.contact.landline.length>0?school.contact.landline:'(Not Updated)'}}</span><br />
          <span><i class="fas fa-envelope p-2
              text-warning"></i>{{school.contact.email?school.contact.email:'(Not Updated)'}}</span><br />
          <span><i class="fas fa-globe p-2
              text-warning"></i>{{school.contact.website?school.contact.website:'(Not Updated)'}}</span><br />
          <span><i class="fas fa-home p-2 text-warning"></i>{{school.address.city | titlecase}}</span><br />
          <span><i class="fas fa-map-marker p-2 text-warning"></i>{{school.address.state | uppercase}} -
            {{school.address.pincode}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
