.filters {
	margin-top: 30px;
}

.list-of-subjects {
	max-height: 400px;
	overflow-y: auto;
}

.save-items {
	color: cornflowerblue;
	text-shadow: 1px 1px 1px grey;
	font-size: 2em;
}

.hide {
	display: none;
}
