<div class="row" style="margin-top:30px;">

    <div *ngIf="subjectBasket.size>0" (click)=updateGroupSubjects() class="row pull-right">
       <button> <i class="fa fa-check save-items" aria-hidden="true"></i></button>
    </div><br>
    <div class="row">

        <div *ngIf="group" class="col-xs-4 list-of-subjects">
            <h2>Added Subjects</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let subject of group.subjects">{{subject.title}}
                </li>
            </ul>
            <p *ngIf="group.subjects.length<1"> No subjects added yet.</p>
        </div>

        <div class="col-xs-4 list-of-subjects">
            <h2>Available Subjects</h2>
            <ul class="list-group">
                <li [ngClass]="groupSubjectSet.has(subject)?'hide':''"  class="list-group-item" *ngFor="let subject of metaSubjects">
                    {{subject}}
                    <span class="close" *ngIf="!subjectBasket.has(subject)" (click)="addSubject(subject)">+</span>
                </li>
            </ul>
            <p *ngIf="metaSubjects.length<1">No subjects available in metaData.</p>
        </div>

        <div class="col-xs-3 list-of-subjects">
            <h2>Subjects to Add</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let subject of subjectBasket">{{subject}}
                    <span class="close" (click)="removeSubject(subject)">x</span></li>
            </ul>
            <p *ngIf="subjectBasket.size<1"> No subjects available in basket.</p>
        </div>
    </div>

</div>