<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active"><a [routerLink]="['group']">Group</a></li>
      <li role="presentation" routerLinkActive="active"><a [routerLink]="['school']">School</a></li>
      <li role="presentation" routerLinkActive="active"><a [routerLink]="['admin']">Admin</a></li>
      <li role="presentation" routerLinkActive="active"><a [routerLink]="['metadata']">Meta Data</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>