/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
.clickable {
	cursor: pointer;
}

.ng-valid[required], .ng-valid:not(form)  {
    border-left: 5px solid #42a948; /* green */
  }
  
  .ng-invalid.ng-touched:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .invalid-feedback{
	  color: #da6260;
  }

  /* .invalid-input{
    border-left: 5px solid #a94442 !important;
  } */

  .text-lowercase {
    text-transform: lowercase;
 }


 .text-uppercase {
  text-transform: uppercase;
  }


 .text-title {
  text-transform: capitalize;
  }

  .scrollable {
    max-height: 500px;
    overflow-y: auto;
  }

