<div class="main-content container-fluid">

  <div class="row">

    <div [ngClass]="{'offset-md-4 col-md-4': !isSchoolAdmin,'offset-md-1 col-md-3':isSchoolAdmin}">
      <div class="card profile-card">
        <section class="icon-holder rounded-circle text-center mx-auto">
          <i class="fas fa-school fa-5x mx-auto p-3 "></i>
        </section>
        <div class="card-body text-white font-weight-lighter font-italic" *ngIf="school">
          <span><i class="fas fa-pencil-alt p-2 text-warning"></i>{{school.shortName}} ({{school.board}})</span><br />
          <span><i class="fas fa-users p-2 text-warning"></i>{{school.group.code}}</span><br />
          <span><i class="fas fa-school p-2 text-warning"></i>{{school.fullName | titlecase}}</span>
          <hr style="border: 2px solid #e9ecf3;">
          <span><i class="fas fa-phone p-2 text-warning"></i>{{school.contact.mobile}}</span><br />
          <span><i class="fas fa-envelope p-2 text-warning"></i>{{school.contact.email}}</span><br />
          <span><i class="fas fa-globe p-2 text-warning"></i>{{school.contact.website}}</span><br />
          <span><i class="fas fa-home p-2 text-warning"></i>{{school.address.city}}</span><br />
          <span><i class="fas fa-map-marker p-2 text-warning"></i>{{school.address.state | uppercase}} -
            {{school.address.pincode}}</span>

        </div>
      </div>
    </div>


    <div class="col-md-7" *ngIf="isSchoolAdmin">
      <div class="card profile-card">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active text-white" data-toggle="tab" href="#basic">Basic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" data-toggle="tab" href="#address">Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" data-toggle="tab" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" data-toggle="tab" href="#schedule">Schedule</a>
          </li>
        </ul>
        <div class="tab-content profile-tab">
          <div id="basic" class="container tab-pane active">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <form autocomplete="off" #bioForm="ngForm" *ngIf="school" (ngSubmit)="updateSchool();">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-school mx-auto"></i>
                      </span>
                    </div>
                    <input placeholder="School Name" type="text" name="fullName" class="form-control text-title"
                      [(ngModel)]="school.fullName" #fullname="ngModel" required maxlength="50">
                    <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="invalid-feedback">
                      <div *ngIf="fullname.errors.required">
                        School Name is required.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-graduation-cap mx-auto"></i>
                      </span>
                    </div>
                    <input placeholder="Board" type="text" name="board" class="form-control text-uppercase"
                      [(ngModel)]="school.board" #board="ngModel" required maxlength="10" pattern="[A-Za-z]*">
                    <div *ngIf="board.invalid && (board.dirty || board.touched)" class="invalid-feedback">
                      <div *ngIf="board.errors.required">
                        Board is required.
                      </div>
                      <div *ngIf="board.errors.pattern">
                        Only characters are allowed
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-graduation-cap mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" name="standards" placeholder="Standards" class="form-control"
                      [(ngModel)]="school.stds">
                  </div>

                  <button [disabled]="!bioForm.form.valid" class="btn btn-warning btn-block text-white">Update</button>
                </form>
              </div>
            </div>


          </div>

          <div id="address" class="container tab-pane fade">
            <div class="row">
              <div class="col-md-6 offset-md-3">

                <form autocomplete="off" #addressForm="ngForm" *ngIf="school" (ngSubmit)="updateSchool();">

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-home mx-auto"></i>
                      </span>
                    </div>
                    <textarea class="form-control text-title" name="area" rows="3" maxlength="100"
                      [(ngModel)]="school.address.area" placeholder="Area"></textarea>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-city mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" name="city" placeholder="City" class="form-control text-title"
                      [(ngModel)]="school.address.city" #city="ngModel" required maxlength="30">
                    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="invalid-feedback">
                      <div *ngIf="city.errors.required">
                        City is required.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-university mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" name="state" placeholder="State" class="form-control text-uppercase"
                      [(ngModel)]="school.address.state" #state="ngModel" required maxlength="30">
                    <div *ngIf="state.invalid && (state.dirty || state.touched)" class="invalid-feedback">
                      <div *ngIf="state.errors.required">
                        State is required.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-map-marker mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" name="pincode" placeholder="Pincode" class="form-control"
                      [(ngModel)]="school.address.pincode" #pincode="ngModel" required maxlength="6" pattern="[0-9]{6}">
                    <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)" class="invalid-feedback">
                      <div *ngIf="pincode.errors.required">
                        Pincode is required.
                      </div>
                      <div *ngIf="pincode.errors.pattern">
                        Pincode must be 6 characters long with only numbers
                      </div>
                    </div>
                  </div>

                  <button [disabled]="!addressForm.form.valid"
                    class="btn btn-warning btn-block text-white">Update</button>
                </form>
              </div>
            </div>
          </div>

          <div id="contact" class="container tab-pane fade">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <form autocomplete="off" #contactForm="ngForm" *ngIf="school" (ngSubmit)="updateSchool();">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-tty mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" name="landline" placeholder="Landline" class="form-control"
                      [(ngModel)]="school.contact.landline">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-mobile-alt mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" name="mobile" class="form-control" placeholder="Mobile"
                      [(ngModel)]="school.contact.mobile" #mobile="ngModel" pattern="[0-9]{10}(,[0-9]{10})*">
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="invalid-feedback">
                      <div *ngIf="mobile.errors.pattern">
                        Comma-separated 10-digit mobile numbers
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-at mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="email" [(ngModel)]="school.contact.email"
                      placeholder="Email">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-globe mx-auto"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="website" [(ngModel)]="school.contact.website"
                      placeholder="Website">
                  </div>
                  <button [disabled]="!contactForm.form.valid"
                    class="btn btn-warning btn-block text-white">Update</button>
                </form>
              </div>
            </div>
          </div>

          <div id="schedule" class="container tab-pane fade">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <form autocomplete="off" #scheduleForm="ngForm" *ngIf="school" (ngSubmit)="updateSchool();">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-school mx-auto"></i>
                      </span>
                    </div>
                    <input placeholder="Working Days" type="number" min="1" max="7" name="workingDays"
                      class="form-control" [(ngModel)]="school.schedule.days" #days="ngModel" required
                      pattern="[1-7]{1}">
                    <div *ngIf="days.invalid && (days.dirty || days.touched)" class="invalid-feedback">
                      <div *ngIf="days.errors.required">
                        Required field.
                      </div>
                      <div *ngIf="days.errors.pattern">
                        Only digits(1-7) are allowed.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dark text-white">
                        <i class="fas fa-school mx-auto"></i>
                      </span>
                    </div>
                    <input placeholder="Periods" type="number" min="1" max="9" name="periods" class="form-control"
                      [(ngModel)]="school.schedule.periods" #periods="ngModel" required pattern="[1-9]{1}">
                    <div *ngIf="periods.invalid && (periods.dirty || periods.touched)" class="invalid-feedback">
                      <div *ngIf="periods.errors.required">
                        Required field.
                      </div>
                      <div *ngIf="periods.errors.pattern">
                        Only number(1-9) is allowed.
                      </div>
                    </div>
                  </div>

                  <button [disabled]="!scheduleForm.form.valid"
                    class="btn btn-warning btn-block text-white">Update</button>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>

  </div>
</div>
