<div class="row feature-content main-content">
  <h4 *ngIf="metadataLoaded && (!metadata || (metadata?.subjects.length==0 && metadata?.standards.length==0))">(No
    Metadata available to show.)</h4>

  <div class="col-xs-4">
    <h2>Add Metadata</h2>
    <form autocomplete="off" [formGroup]="addMetadataForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" formControlName="subjects" class="form-control" placeholder="Subjects" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="standards" class="form-control" placeholder="Standards" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Add Metadata</button>
      </div>
    </form>
  </div>

  <div class="col-xs-3">
    <h2>Subjects</h2>
    <div *ngIf="metadata?.subjects">

      <ul class="list-group list-of-subjects">
        <li class="list-group-item" *ngFor="let subject of metadata.subjects">{{subject}}
          <span class="close" (click)="removeSubject(subject)">x</span></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-3">
    <h2>Standards</h2>
    <div *ngIf="metadata?.standards">
      <ul class="list-group list-of-subjects">
        <li class="list-group-item" *ngFor="let standard of  metadata.standards">{{standard}}
          <span class="close" (click)="removeStandard(standard)">x</span></li>
      </ul>

    </div>
  </div>

  <div class="col-xs-2">
    <button class="btn btn-link pull-right" *ngIf="isDirty" (click)="deleteMeta()">Save Changes</button>
  </div>
</div>
