.role-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 10px;
  color: #fff;

}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5) !important;
}
