<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{active:!isAllQuestions}"><a
          (click)="isAllQuestions=false;selectedQuestion=null;">My Questions</a></li>
      <li role="presentation" [ngClass]="{active:isAllQuestions}"><a (click)="onAllTabClick()">All Questions</a></li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="!isAllQuestions" class="questionsList">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div *ngIf="userQuestions$ | async as userQuestions">
        <div [id]="question.quesId" (click)="selectedQuestion=question;editMode=false;" *ngFor="let question of userQuestions"
          class="clickable panel panel-success" >
          <div class="panel-heading">
            <span class="pull-left">Std:{{question.std}}</span>
            <span class="">{{question.subject}}</span>
            <span class="pull-right">{{question.lastModifiedDate | date: dateFormat}}</span>
          </div>
          <div class="panel-body">{{question.title | trim:40}}</div>
        </div>
      </div>
    </div>

    <div class="col-xs-7" *ngIf="selectedQuestion">

      <div class="panel panel-success">
        <div class="panel-heading">{{selectedQuestion.status | enum:"status"}}</div>
        <div class="panel-body">
          <div *ngIf="!editMode">
              <app-question-display [selectedQues]="selectedQuestion" [showCreatedDate]="true"
              [showReviewer]="true" [showLastModifiedDate]="true"></app-question-display>
          </div>
          <div *ngIf="editMode">
            <form>
              <label class="col-xs-3">Standard</label>
              <div class="well well-sm col-xs-8">{{tempSelectedQuestion.std}}</div>

              <label class="col-xs-3">Subject</label>
              <div class="well well-sm col-xs-8">{{tempSelectedQuestion.subject}}
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Type</label>
                <select class="form-control col-xs-3" [(ngModel)]="tempSelectedQuestion.length" name="questionLength">
                  <option [ngValue]="undefined" disabled selected>Select Type</option>
                  <option [ngValue]="0" selected>OBJECTIVE</option>
                  <option [ngValue]="1" selected>SHORT</option>
                  <option [ngValue]="2" selected>BRIEF</option>
                  <option [ngValue]="3" selected>LONG</option>
                </select>
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Difficulty</label>
                <select class="form-control col-xs-8" [(ngModel)]="tempSelectedQuestion.difficulty"
                  name="questionDifficulty">
                  <option [ngValue]="undefined" disabled selected>Select Difficulty</option>
                  <option [ngValue]="0" selected>EASY</option>
                  <option [ngValue]="1" selected>MEDIUM</option>
                  <option [ngValue]="2" selected>HARD</option>
                </select>
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Topic</label>
                <input type="text" name="topic" [(ngModel)]="tempSelectedQuestion.topic" class="form-control col-xs-8">
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Description</label>
                <input type="text" name="title" [(ngModel)]="tempSelectedQuestion.title" class="form-control col-xs-8">
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Tags</label>
                <input type="text" name="tags" [(ngModel)]="tags" class="form-control col-xs-8">
              </div>

              <div class="form-group form-inline row">
                <label class="col-xs-3">Image</label>
                <input type="text" name="image" [(ngModel)]="tempSelectedQuestion.imageUrl"
                  class="form-control col-xs-8">
              </div>
             </form>

          </div>

        </div>

        <div class="panel-footer">
            <div *ngIf="!editMode">
                <button class="btn btn-default" (click)="onEditClicked()">Edit</button>
                <button class="btn btn-default" (click)="deleteQuestion()">Delete</button>
            </div>
            <div *ngIf="editMode">
                <button class="btn btn-default" (click)="editMode=false;tempSelectedQuestion=null">Cancel</button>
                <button class="btn btn-default" (click)='updateQuestion()'>Save</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isAllQuestions" class="questionsList">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div *ngIf="allQuestions$ | async as allQuestions">
        <div  (click)="selectedQuestion=question;"
          *ngFor="let question of allQuestions" class="clickable panel panel-success">
          <div class="panel-heading">
            <span class="pull-left">Std:{{question.std}}</span>
            <span class="">{{question.subject}}</span>
            <span class="pull-right">{{question.lastModifiedDate | date: dateFormat}}</span>
          </div>
          <div class="panel-body">{{question.title | trim:40}}</div>
        </div>
      </div>
    </div>

    <div class="col-xs-7" *ngIf="selectedQuestion">

      <div class="panel panel-success">
        <div class="panel-heading">Approved</div>
        <div class="panel-body">
            <app-question-display [selectedQues]="selectedQuestion" [showCreatedDate]="true"
            [showOwner]="loggedInUser.school.code === selectedQuestion.school.code"
            [showSchool]="loggedInUser.school.code !== selectedQuestion.school.code">
          </app-question-display>
        </div>
      </div>
    </div>
  </div>
</div>